*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: auto;
    margin-top: 70px;
}

.containerTimer{
    margin-top: 40px;
}

.containerCommissionTitle, .containerTitle{
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
}

.containerCommissionTitleAvailable{
    display: flex;
}

.containerCommissionTitleEvent{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.containerCommissionTitleEvent input{

    margin-left: 5px;
}

.availableTimer{
    display: flex;
    margin: 5px 0;
    justify-content: center;
}

.addTimer{
    width: 100%;
}

/*! timer.jsx !*/
.timer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}