@font-face {
  font-family: 'SFRegular';
  src: url('../font/SFProDisplayRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'SFRegular';
  src: url('../font/SFProDisplayRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFSemibold';
  src: url('../font/SFProDisplaySemibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'SFSemibold';
  src: url('../font/SFProDisplaySemibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

